<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Уровень СO2</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/gauge.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/updatePage.js"></script>
  </head>
  <body>
    <h1 align="center" class="banner"> Текущий уровень CO<sub>2</sub> </h1>
    <div style="text-align:center">
      <canvas class="canv"
        data-type="radial-gauge"
			  data-width="300"
			  data-height="300"
	      data-title="CO2"
	      data-min-value="0"
		    data-max-value="8000"
		    data-major-ticks="[0,1000,2000,3000,4000,5000,6000,7000,8000]"
			  data-minor-ticks="10"
			  data-stroke-ticks="true"
			  data-highlights='[ {"from": 0, "to": 7, "color": "rgba(0,0, 255, .3)"},{"from": 7, "to": 14, "color": "rgba(255, 0, 0, .3)"} ]'
			  data-ticks-angle="225"
			  data-start-angle="67.5"
			  data-color-major-ticks="#ddd"
			  data-color-minor-ticks="#ddd"
			  data-color-title="#eee"
			  data-color-units="#ccc"
			  data-color-numbers="#eee"
			  data-color-plate="#009a40"
			  data-borders="true"
			  data-needle-type="arrow"
			  data-needle-width="2"
			  data-needle-circle-size="7"
			  data-needle-circle-outer="true"
			  data-needle-circle-inner="false"
			  data-animation-duration="500"
			  data-animation-rule="linear"
			  data-color-border-outer="#333"
			  data-color-border-outer-end="#111"
			  data-color-border-middle="#222"
			  data-color-border-middle-end="#111"
			  data-color-border-inner="#111"
			  data-color-border-inner-end="#333"
			  data-color-needle-shadow-down="#333"
			  data-color-needle-circle-outer="#333"
			  data-color-needle-circle-outer-end="#111"
			  data-color-needle-circle-inner="#111"
			  data-color-needle-circle-inner-end="#222"
			  data-value-box-border-radius="0"
			  data-color-value-box-rect="#222"
			  data-color-value-box-rect-end="#333"
        data-value="0"
			 >
		   </canvas>
    </div>
    <script>
    var url = "/co2meas";
    getReading(url);
    </script>
  </body>
</html>
