{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <!-- Температура -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/measurements/temp" role="button">
                    <p class="h2">Температура</p>
                </a>
            </div>

            <div class="row py-2">
                <!-- Уровень pH -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/measurements/ph" role="button">
                    <p class="h2">Кислотность</p>
                </a>
            </div>

            <div class="row py-2">
                <!-- Уровень солей -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/measurements/tds" role="button">
                    <p class="h2">Солёность</p>
                </a>
            </div>

            <div class="row py-2">
                <!-- Влажность -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/measurements/co2" role="button">
                    <p class="h2">Углекислый газ</p>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock %}
