{% extends "base.html" %}

{% block scriptsSection %}
<script src="../static/js/node_modules/canvas-gauges/gauge.min.js"></script>
<script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/js/node_modules/chart.js/dist/Chart.js"></script>
<script src="../static/js/update_page.js"></script>

<script>
    var url = "/temp_measure";
    getReading(url);
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <canvas class="canv"
                data-type="linear-gauge"
                data-width="150"
                data-height="500"
                data-border-radius="20"
                data-borders="0"
                data-bar-stroke-width="2"
                data-minor-ticks="10"
                data-major-ticks="0,10,20,30,40,50"
                data-value="0"
                data-units="°C"
                data-color-value-box-shadow="true"
                data-color-major-ticks="#ffe66a"
                data-color-minor-ticks="#ffe66a"
                data-color-title="#eee"
                data-color-units="#ccc"
                data-color-numbers="#eee"
                data-color-plate="#009a40"
                data-color-plate-end="#009a40"
                data-color-bar="#f5f5f5"
                data-highlights="#009a40"
                data-color-bar-progress="#900000"
        >
        </canvas>
    </div>
</div>
{% endblock %}