#keyboard {
    display: none;
}
.textsize {
    font-size: 2rem;
}
.num-btn {
    height: 50px !important;
    width: 50px;
}
.keyboard-btn {
    height: 50px !important;
    width:  55px;
}
.dark {
    background-color: rgb(52,58,64) !important;
    color: rgb(255, 255, 255);
}

.dot-btn {
    width: 44px
}

.control-btn {
    width: 90px;
    background-color: rgb(100, 100, 100) !important;
    color: rgb(255,255,255);
}

.space-btn {
    width: 300px !important;
}

.empty-btn {
    width: 30px;
    background-color: rgb(100, 100, 100) !important;
}
