
#settings-block {

    border: 2px solid maroon;
    width: 500px;
    height: 200px;
    margin: auto;
}

#setting-table {
    width: 500px;
    height: 200px;
    margin: auto;

}

.switch,
.switch-label,
.switch-slider {
    width: 100px;
    height: 40px;
}

.switch {
    position: relative;
    display: inline-block;
}

.switch-check {
    position: absolute;
    opacity: 0;
}

.switch-label,
.switch-slider {
    position: absolute;
    top: 0;
}

.switch-label {
    left: 0;
    text-indent: -9999px;
}

.switch-slider {
    border-radius: 27px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) inset,
    0 0 4px rgba(0, 0, 0, 0.5) inset,
    0 5px 4px 1px rgba(0, 0, 0, 0.3) inset,
    0 27px 0 rgba(0, 0, 0, 0.07) inset;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
    transition: width 0.2s linear;
}

.switch-slider-on {
    left: 0;
    width: 40px;
    background: #369AEE 100% 12px no-repeat;
}

.switch-slider-off {
    right: 0;
    background: #FFFFFF 86px 14px no-repeat;
}

.switch-slider-off:after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #D5D5D5;
    background: -webkit-linear-gradient(#D0D0D0, #FDFDFD);
    background: -moz-linear-gradient(#D0D0D0, #FDFDFD);
    background: -o-linear-gradient(#D0D0D0, #FDFDFD);
    background: linear-gradient(#D0D0D0, #FDFDFD);
    box-shadow: 0 0 2px 2px #FFF inset,
    0 0 4px 1px rgba(0, 0, 0, 0.6);
    content: '';
}

.switch-label:active .switch-slider-off:after,
.switch-check:focus + .switch-label .switch-slider-off:after {
    background: #D5D5D5;
    background: -webkit-linear-gradient(#D0D0D0, #FDFDFD);
    background: -moz-linear-gradient(#D0D0D0, #FDFDFD);
    background: -o-linear-gradient(#D0D0D0, #FDFDFD);
    background: linear-gradient(#D0D0D0, #FDFDFD);
}

.switch-check:checked + .switch-label .switch-slider-on {
    width: 100px;
}

.switch-check:checked + .switch-label .switch-slider-off {
    width: 40px;
}

.saved {
    margin: auto;
    color: green;
    #visibility: hidden;
    display: none;
    text-align: center;
    font-size: 20px;
}
