{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form method="POST" action="/net_setting">
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="exampleInputEmail1">Логин</label>
                    <input type="email" maxlength="25" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="Введите логин">
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-lg" for="exampleInputPassword1">Пароль</label>
                    <input type="password" maxlength="25" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Введите пароль">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block p-3 mt-5">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
