{% extends "base.html" %}
{% block headerScript %}
	<link rel="stylesheet" href="../../static/css/teacher_settings.css">
	<script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block content %}
	<div id="net-settings">
		<form method="POST" action="/apply_net_settings" class="settings-form">
			<table>
				<p>Введите имя сети и пароль</p>
				<tr><td>Имя сети</td><td><input name="login" maxlength="25" size="40" type="text"></td></tr>
				<tr><td>Пароль</td><td><input name="passwd" maxlength="25" size="40" type="text"></td></tr>
			</table>
			<p><input value="Подключиться" type="submit"></p>
		</form>
	</div>

	<div id="time-settings">
		<form id="time-form" class="settings-form" onsubmit="setTime(); return false;">
			<table>
				<p>Введите время и дату</p>
				<tr><td>Время</td><td><input type="time" name="set-time"></td></tr>
				<tr><td>Дата</td><td><input type="date" name="set-date"></td></tr>
				<tr><td>Часовой пояс</td><td><input type="text" name="set-timezone"></td></tr>
			</table>
			<p><input value="OK" type="submit"></p>
		</form>
	</div>
	<div class="saved-banner" id="time-saved">
		Время установлено
	</div>
	<script>
		window.onload = function() {

			var currentdate = new Date();
			month = currentdate.getMonth()+1;
			year = currentdate.getFullYear();
			day = currentdate.getDate();

			document.getElementsByName("set-time")[0].value = currentdate.getHours()+":"+currentdate.getMinutes();
			document.getElementsByName("set-date")[0].value = year+"-"+month+"-"+day;
		}

		function setTime() {	
			var newTime = document.getElementsByName("set-time")[0].value;
			var newDate = document.getElementsByName("set-date")[0].value;
			var newTimezone = document.getElementsByName("set-timezone")[0].value;
			
			if (newTime === "" || newDate === "" || newTimezone === "") {
				return alert("Incorrect value");
			}

			$.ajax({
				url: "/apply_time",
				type: "POST",
				data: JSON.stringify({"set-time" : newTime, "set-date" : newDate, "timezone": newTimezone}),	
				contentType: "application/json; charset=utf8",
				dataType:"json",
				success: function() {
                    				$("#time-saved").fadeIn();
                    				setTimeout(function() {
                        				$("#time-saved").fadeOut(1000);
                    				}, 3000);
					}
				});
		}	
	</script>

{% endblock %}
