{% extends "base.html" %}

{% block stylesSection %}
<!-- <link rel="stylesheet" href="../../static/css/camera.css"> -->
<link rel="stylesheet" href="../../static/css/confirm.css">
{% endblock %}

{% block scriptsSection %}
<script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../static/js/confirm.js"></script>
<script>
	function removeFrames() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "/download_log", true);
		xhr.send();
		xhr.onreadystatechange = function() {
			if (xhr.readyState != 4) return;

			if (xhr.status == 200) {
				addMsgToDiv("Журнал скачан успешно");
			} else if (xhr.status == 403) {
				addMsgToDiv("Не удалось скачать журнал. Проверьте подключение");
			} else {
				alert(xhr.status + ': ' + xhr.statusText);
			}
		}
	}

    function addMsgToDiv(msg) {
			var div = document.getElementById("camera-msg");
			div.innerHTML = msg;
			$("#camera-msg").fadeIn();
			setTimeout(function() {
				$("#camera-msg").fadeOut();
			}, 2000);
    }

    $("#download-button").click(function() {
        Confirm("Скачать журнал", "Вы действительно хотите скачать журнал?", "Да", "Нет", removeFrames);
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<input class="btn btn-lg btn-primary btn-block p-3 mt-4" id="download-button" value="Скачать журнал" type="button">
        	<input class="btn btn-lg btn-primary btn-block p-3 mt-4" id="extract" value="Извлечь USB-накопитель" type="button">
		</div>

	</div>

    <div class="row py-4 d-flex justify-content-center">
        <div class="saved-banner" id="camera-msg"></div>
    </div>

</div>
{% endblock %}
