{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/teacher_settings.css">
<link rel="stylesheet" href="/static/css/confirm.css">
<link rel="stylesheet" href="/static/css/preloader.css">

{% endblock %}

{% block scriptsSection %}
<script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/confirm.js"></script>
<script src="/static/js/request.js"></script>
<script>
    function downloadLogs() {
        var downloadMsg = {
            msgYes: "Журнал успешно скачан.",
            msgNo: "USB-устройство не обнаружено. Проверьте подключение.",
            msgError: "Возникла ошибка системы. Перезапустите гроукомпьютер",
            callback: function(msg) {
                addMsgToDiv(msg);
            },
        };
        request("/download_log", downloadMsg, true);
    }

    function extractUsb() {
        var extractMsg = {
            msgYes: "USB-устройство может быть извлечено.",
            msgNo: "USB-устройство не обнаружено. Проверьте подключение.",
            msgError: "Возникла ошибка системы. Перезапустите гроукомпьютер",
            callback: function(msg) {
                addMsgToDiv(msg);
            },
        };
        request("/extract_usb", extractMsg, false);
    }

    function addMsgToDiv(msg) {
			var div = document.getElementById("msg-box");
			div.innerHTML = msg;
			$("#msg-box").fadeIn();
			setTimeout(function() {
				$("#msg-box").fadeOut();
			}, 4000);
    }

    $("#download-button").click(function() {
        Confirm("Скачать журнал", "Вы действительно хотите скачать журнал?", "Да", "Нет", downloadLogs);
    });

    $("#extract").click(function() {
        Confirm("Извлечь накопитель", "Вы действительно хотите извлечь накопитель?", "Да", "Нет", extractUsb);
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<button class="btn btn-lg btn-primary btn-block p-3 mt-4" id="download-button" type="button">
                <p class="h2">Скачать журнал</p>
            </button>
        	<button class="btn btn-lg btn-primary btn-block p-3 mt-4" id="extract" type="button">
		        <p class="h2">Извлечь USB-накопитель</p>
            </button>
        </div>

	</div>

    <div class="row py-4 d-flex justify-content-center">
        <div class="saved-banner" id="msg-box"></div>
    </div>

    <div class="row py-4 d-flex justify-content-center">
        <div id="preloader"></div>
	</div>

</div>
{% endblock %}
