{% extends "base.html" %}
{% block content %}
    <div id='btn'>
      <ul class=button-group>
        <li><a href="/charts/temp_chart"> Температура </a></li>
        <li><a href="/charts/hum_chart"> Влажность </a></li>
        <li><a href="/charts/ph_chart">Уровень pH </a></li>
        <li><a href="/charts/tds_chart">Уровень солей</a></li>
        <li><a href="/charts/co2_chart">Уровень CO <sub>2</sub></a></li>
        <li><a href="/index"> Назад </a></li>
      </ul>
    </div>
{% endblock %}