{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
	
	<div class="container">
		<img src="/static/img/info/Basil.jpg"></img>
		<p>Базилик душистый (лат. Ocimum basilicum) — однолетнее травянистое растение, вид рода Базилик семейства Яснотковые (лат. Lamiaceae). 
		Корень ветвящийся, расположен поверхностно. Стебель прямой, сильноветвистый, высотой 50—70 см, хорошо облиственный. 
		Листья короткочерешковые, продолговатые, редко-зубчатые. Стебель, листья и чашечки покрыты волосками. 
		Цветки двугубые, белые, бледно-розовые, реже фиолетовые, вырастают из пазух верхушечных листьев и прицветников в неправильных мутовках.</p>
		<p>Родина базилика — Иран, Индия и другие тропические регионы Азии, где это растение используется в кулинарных и медицинских целях уже более 5000 лет. 
		В Европу был завезён вернувшимися из азиатских походов солдатами Александра Македонского. 
		В России он появился в XVIII веке и использовался в первую очередь как лекарственное растение.</p>
		<p>Базилик – одна из самых универсальных ароматических трав. 
		Он может использоваться как отдельно, так и совместно с другими травами и пряностями, входить в состав соусов и просто украшать блюда. 
		В народной медицине различных народов растение пользуется большой популярностью. 
		Настой из базилика применяют при гастрите, как противокашлевое средство при коклюше, при неврозах, головной боли, бронхиальной астме.</p>
		
	</div>

{% endblock %}
