{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
<div class="container">

	<img src="/static/img/info/Bean.jpg"></img>
	<p>Фасоль обыкновенная (лат. Phaséolus vulgáris) — вид растений семейства бобовых (лат. Fabaceae). Стебли фасоли ветвистые, покрыты редкими волосками. 
	Листья зеленого цвета разных оттенков, тройчатые длинночерешковые. В пазухах листьев расположены цветки. 
	Цветки фасоли неправильные мотыльковые, по 2-6 в редкой кисти. Плод фасоли прямой или изогнутый, 5-20 см длины и 1,0-2,0 см ширины, 
	содержит внутри от 3 до 8 бобов-семян разной окраски и величины.</p>
	<p>Одно из главных растений древнего земледелия стран Южной и Центральной Америки. Фасоль является одной из древнейших культур мира. 
	В Европу завезена после второго путешествия Колумба, а оттуда она попала в Россию в XVII—XVIII веках.</p>
	<p>Фасоль по пищевой ценности относится к стратегическим культурам и входит в первую десятку самых полезных овощей. 
	Аминокислотный и белковый состав фасоли близок к белкам мяса и рыбы и в экстремальных условиях способен их заменить. 
	Белки бобов фасоли усваиваются организмом на 75%, являясь для него строительным и энергетическим материалом. 
	При горячем приготовлении и в консервации сохраняет до 70% витаминов и 80% минеральных веществ, входящих в состав бобов. 
	Имея такой высокий пищевой потенциал, фасоль используется не только как продовольственная культура, 
	но применяется в официальной и народной медицине, способствуя излечению большого перечня заболеваний.</p>

</div>


{% endblock %}
