{% extends "base.html" %} {% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css" />
{% endblock %} {% block content %}
<div class="container">
  <img src="/static/img/info/Bean.jpg" />
  <p>
    Фасоль обыкновенная (лат. Phaséolus vulgáris) — вид растений семейства
    бобовых (лат. Fabaceae).
  </p>
  <p>
    Стебли фасоли ветвистые, покрыты редкими волосками. Листья — разных оттенков
    зеленого цвета, тройчатые длинночерешковые. Цветки расположены в пазухах
    листьев по 2-6 в кисти и имеют неправильную мотыльковую форму. Плод фасоли
    может быть прямым или изогнутым, 5-20 см в длину и 1,0-2,0 см в ширину.
    Внутри содержит от 3 до 8 бобов-семян разной окраски и величины.
  </p>
  <p>
    Фасоль является одной из древнейших культур мира и была одним из ключевых
    растений древнего земледелия стран Южной и Центральной Америки. В Европу
    завезена после второго путешествия Колумба, а оттуда в XVII—XVIII веках
    попала в Россию.
  </p>
  <p>
    По пищевой ценности входит в первую десятку самых полезных овощей.
    Аминокислотный и белковый состав фасоли близок к белкам мяса и рыбы и в
    экстремальных условиях способен их заменить. Белки бобов фасоли усваиваются
    организмом на 75%. При консервации и приготовлении сохраняет до 70%
    витаминов и 80% минеральных веществ. Благодаря такому высокому пищевому
    потенциалу, фасоль не только употребляют в пищу, но и применяют в народной
    медицине для укрепления организма и облегчения симптомов некоторых
    заболеваний.
  </p>
</div>

{% endblock %}
