{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row py-2">
                <!-- Салат -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/info/salad" role="button">
                    <p class="h2">Салат</p>
                </a>

            </div>

            <div class="row py-2">
                <!-- Базилик -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/info/basil" role="button">
                    <p class="h2">Базилик</p>
                </a>
            </div>


            <div class="row py-2">
                <!-- Овёс -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/info/oats" role="button">
                    <p class="h2">Овёс</p>
                </a>
            </div>

            <div class="row py-2">
                <!-- Фасоль -->
                <a class="btn btn-success btn-lg btn-block p-3" href="/info/bean" role="button">
                    <p class="h2">Фасоль</p>
                </a>
            </div>
	</div>
    </div>
</div>
{% endblock %}
