{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
	<div class="container">
		<img src="/static/img/info/Oats.jpg">
        <p>Овёс обыкновенный (лат. Avena sativa) — однолетнее травянистое растение, вид рода Овёс.</p>
        <p>Cтебель выглядит как соломина диаметром до 6 мм с 2-4 голыми узлами.
		Листья очерёдные, зелёные или сизые, линейные, шероховатые, 20–45 см в длину и 8–30 мм в ширину.
		Соцветие — метёлка, состоит из крупных, повисающих колосков с двумя-тремя цветками, сжатыми с боков.
		Плод — зерновка, плотно обвёрнут кожистой цветочной чешуёй и снабжён продольным желобком.</p>
		<p>Родиной овса считается Монголия и северо-восточные провинции Китая.
		Существует предположение, согласно которому возделывать овёс начали еще во втором тысячелетии до нашей эры.
	    В диком виде овёс произрастает крайне редко. Его культивируют в умеренном климатическом поясе, в частности в Северо-Западной Европе,
		нечерноземной зоне России, в Западной и Восточной Сибири, Канаде, Казахстане, Белоруссии. Крупнейшие посевы овса находятся в России и Канаде.</p>
		<p>Богатый состав и лечебные свойства позволяют широко использовать овёс как в пищевой промышленности, так в народной медицине.
        В нём содержится оптимальное для пищеварения соотношение углеводов, белков, жиров и витаминов группы В.
        Крахмал овса медленно усваивается, и поэтому надолго обеспечивает организм энергией.
        Также это позволяет избежать резкого повышения уровня сахара в крови, что важно при диабете.</p>
	</div>
{% endblock %}
