{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
	<div class="container">
		<img src="/static/img/info/Oats.jpg"></img>
		<p>Овёс обыкновенный (лат. Avena sativa) — однолетнее травянистое растение, вид рода Овёс (лат. Avena). 
		Корень мочковатый, стебель выглядит как соломина диаметром до 6 мм с 2-4 голыми узлами. 
		Листья очерёдные, зелёные или сизые, линейные, шероховатые, 20–45 см длины и 8–30 мм ширины. 
		Соцветие — метёлка, состоящая из крупных, повисающих колосков с двумя-тремя цветками, сжатых с боков. 
		Плод — зерновка, плотно обвёрнут кожистой цветочной чешуёй и снабжён продольным желобком. </p>
		<p>Родиной овса считается Монголия и северо-восточные провинции Китая. 
		Существует предположение, согласно которому возделывать овес начали еще во втором тысячелетии до нашей эры.
	        В диком виде овес произрастает крайне редко. Культивируют его в умеренном климатическом поясе, в частности в Северо-Западной Европе, 
		нечерноземной зоне России, в Западной и Восточной Сибири, Канаде, Казахстане, Белоруссии. Крупнейшие посевы овса находятся в России и Канаде.
		</p>
		<p>Богатый состав и лечебные свойства позволяют широко использовать овёс как в пищевой промышленности, так в народной медицине.
		Крахмал овса обеспечивает организм «медленной» энергией, что позволяет избежать резкого повышения уровня сахара в крови и особенно полезно при диабете. 
		Овес содержит белок, необходимый организму для роста и восстановления тканей.</p>

	</div>
{% endblock %}
