{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="../../static/css/info.css">
{% endblock %}

{% block content %}
	<div class="container">
		
		<img src="../../static/img/info/Salad.png"></img>

		<p> Салат, или латук посевной (лат. Lactuca sativa) — однолетнее овощное растение семейства сложноцветных.
		Листья желтовато-зелёные, редко красные, цельные, крупные, различной формы — гладкие, морщинистые, гофрированные или курчавые, у кочанного салата — смыкаются в кочан.
		Соцветие — небольшая корзинка кувшинообразной формы. Цветки язычковые, обоеполые, мелкие. 
		Растение холодостойкое (всходы выдерживают температуру до -3, -5 °С), свето- и влаголюбивое.</p>
		<p>Родина растения неизвестна. Салат введён в культуру задолго до нашей эры. Возделывали его в Древнем Китае, Древнем Египте, но особенно широко в Древней Греции и Древнем Риме. 
		В средневековой Европе салат почти не разводили, но к XVI веку он приобрел такую большую популярность, что салатом стали называть все блюда, приготовленные из свежих овощей.</p>
		<p>Салат обладает богатым витаминно-минеральным составом, в котором присутствуют: витамины группы В, С, а также калий, кальций, сера, йод, фосфор. 
		Употребление в пищу листьев салата поможет улучшить пищеварение, оказывает благотворное влияние на кожные покровы, улучшает память, зрение и является профилактикой 
		против возникновения болезни Альцгеймера.</p>
	</div>
{% endblock %}
