{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="/static/css/info.css">
{% endblock %}

{% block content %}
	<div class="container">
		<img src="/static/img/info/Salad.png">
        <p> Салат, или латук посевной (лат. Lactuca sativa) — однолетнее овощное растение семейства сложноцветных.</p>
        <p>Листья — желтовато-зелёные или красные, цельные, крупные, бывают различной формы — гладкие, морщинистые, гофрированные или курчавые.
		Соцветие выглядит как небольшая корзинка кувшинообразной формы. Цветки язычковые, обоеполые, мелкие.
		Растение холодостойкое (всходы выдерживают температуру до -3, -5 °С), любит свет и влагу.</p>
		<p>Родина салата неизвестна. Возделывать его стали задолго до нашей эры в Древнем Китае, Древнем Египте, а особенно широко салат был распространён в античных Греции и Риме.
		В средневековой Европе салат почти не разводили, но к XVI веку он приобрел такую большую популярность, что салатами стали называть все блюда, приготовленные из свежих овощей.</p>
		<p>Салат обладает богатым витаминно-минеральным составом: в нём присутствуют витамины группы В, С, калий, кальций, сера, йод и фосфор.
		Употребление в пищу листьев салата помогает улучшить пищеварение, оказывает благотворное влияние на кожные покровы, улучшает память, зрение.</p>
	</div>
{% endblock %}
