<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>
			GrowBox
		</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/time.js"></script>
	</head>

	<body>
		<h1 align=center class="banner"> GrowBox </h1>

		<div id=image>
		<img src="../static/img/img1.jpg" width="250" height="250">
		</div>

		<div id="clock">
		</div>

		<div id='btn'>
			<ul class=button-group>
				<li><a href="/measurements"> Измерения </a></li>
				<li><a href="/charts"> Журнал измерений </a></li>
				<li><a href="/camera"> Камера </a></li>
				<li><a href="/settings">Управление</a></li>
				<li><a href="/net_settings">Настройки сети</a></li>
				<li><a href="/info"> О растениях</a></li>
			</ul>
		</div>

	</body>

</html>
