<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8">
		<title>
			GrowBox
		</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="../static/js/time.js"></script>
	</head>

	<body>
		<h1 align=center class="banner"> GrowBox </h1>

		<div id=image>
		<img src="../static/img/img1.jpg" width="250" height="250">
		</div>

		<div id="clock">
		</div>

		<div id='btn'>
			<ul class=button-group>
				<li><a href="/measurements"> Измерения </a></li>
				<li><a href="/ph" > pH </a></li>
				<li><a href="/co2">Уровень CO <sub>2</sub></a></li>
				<li><a href="/plot"> Графики </a></li>
				<li><a href="/dynamicCharts"> Динамические графики</a></li>
				<li><a href="/info"> О растениях</a></li>
			</ul>
		</div>

		<a href="/tempDatabase"> Последняя запись температуры в базе данных </a>
	</body>

</html>
