<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Измерения</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
    <h1 align=center class="banner"> Показания датчиков </h1>

    <div id='btn'>
      <ul class=button-group>
        <li><a href="/temp"> Температура </a></li>
        <li><a href="/humidity"> Влажность </a></li>
        <li><a href="/ph">Уровень pH </a></li>
        <li><a href="tds">Уровень солей</a></li>
        <li><a href="/co2">Уровень CO <sub>2</sub></a></li>
        <li><a href="/index"> Назад </a></li>
      </ul>
    </div>
  </body>
</html>
