<html>
<head>
    <meta charset="utf-8">
    <title>Уровень pH</title>
    <script src="../static/js/gauge.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/updatePage.js"></script>
</head>
	<body>
    <canvas class="canv"
    data-type="linear-gauge"
    data-width="500"
    data-height="150"
    data-title="pH"
    data-min-value="0"
    data-max-value="14"
    data-major-ticks="[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]"
    data-minor-ticks="5"
    data-stroke-ticks="true"
    data-ticks-width="15"
    data-ticks-width-minor="5"
    data-highlights='[ {"from": 0, "to": 0, "color": "rgba(0,0, 255, .3)"},
                      {"from": 0, "to": 14, "color": "rgba(255, 0, 0, .3)"} ]'
    data-color-major-ticks="#ffe66a"
    data-color-minor-ticks="#ffe66a"
    data-color-title="#eee"
    data-color-units="#ccc"
    data-color-numbers="#eee"
    data-color-plate="#009a40"
    data-color-plate-end="#009a40"
    data-border-shadow-width="0"
    data-borders="false"
    data-border-radius="10"
    data-needle-type="arrow"
    data-needle-width="3"
    data-animation-duration="500"
    data-animation-rule="linear"
    data-color-needle="#222"
    data-color-needle-end=""
    data-color-bar-progress="#410000"
    data-color-bar="#f5f5f5"
    data-bar-stroke="0"
    data-bar-width="8"
    data-bar-begin-circle="false"
    data-value = 0


></canvas>
<script>
  var url = "/phmeas";
  getReading(url);
</script>

	</body>
	</html>
