<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Temperature and Humidity</title>
	<script src="../static/js/node_modules/chart.js/dist/Chart.js"></script>
</head>
<body>
	<h3> Данные с датчика температуры и влажности за 30 дней <h3>

	<canvas id="tempChart" width="600" height="400"></canvas>
	<canvas id="humChart" width="600" height="400"></canvas>

	<script>
		Chart.defaults.global.responsive = false;
		var tempCanv = document.getElementById("tempChart").getContext('2d');
		var tempData = {
			/*labels : (function(){
					var x = [];
					for (var i = 0; i < 31; i++) {
						x.push(i);
					}
					return x;
				})(),*/
			labels : [{% for item in labels %}
					"{{item}}",
					 {% endfor %}],
			
			datasets : [{
		       		label : "Temperature",
				fill : true,
				backgroundColor: "rgba(75,192,192,0.4)",
				borderColor: "rgba(75,192,192,1)",
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: "rgba(75,192,192,1)",
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius: 5,
				pointHoverBackgroundColor: "rgba(75,192,192,1)",
				pointHoverBorderColor: "rgba(220,220,220,1)",
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
				data : [{% for item in temp %}
						{{item}},
						{% endfor %}],
				spanGaps: false
			}]
		};
		
		var humCanv = document.getElementById("humChart").getContext('2d');
		var humData = {
			labels : [{% for item in labels %}
					"{{item}}",
					 {% endfor %}],
			
			datasets : [{
		       		label : "Humidity",
				fill : true,
				backgroundColor: "rgba(75,192,192,0.4)",
				borderColor: "rgba(75,192,192,1)",
				borderCapStyle: 'butt',
				borderDash: [],
				borderDashOffset: 0.0,
				borderJoinStyle: 'miter',
				pointBorderColor: "rgba(75,192,192,1)",
				pointBackgroundColor: "#fff",
				pointBorderWidth: 1,
				pointHoverRadius: 5,
				pointHoverBackgroundColor: "rgba(75,192,192,1)",
				pointHoverBorderColor: "rgba(220,220,220,1)",
				pointHoverBorderWidth: 2,
				pointRadius: 1,
				pointHitRadius: 10,
				data : [{% for item in hum %}
						{{item}},
						{% endfor %}],
				spanGaps: false
			}]
		};
	
		var tempChart = new Chart(tempCanv, {
			type: 'line',
			data: tempData
			});

		var humChart = new Chart(humCanv, {
			type: 'line', 
			data : humData
			});

	</script>
</body>
</html>
