{% extends "base.html" %} {% block stylesSection %}
<link rel="stylesheet" href="/static/css/camera.css" />
<link rel="stylesheet" href="/static/css/confirm.css" />
{% endblock %} {% block scriptsSection %}
<script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/tools/confirm.js"></script>
<script src="/static/js/tools/request.js" type="module"></script>
<script src="/static/js/tools/response.js" type="module"></script>
<script src="/static/js/camera/photo.js" type="module"></script>
{% endblock %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Сделать 1-ый снимок -->
      <div class="row pt-2 pb-3 d-flex justify-content-center" id="place1">
        <img
          src="/static/img/{{img1}}"
          alt="Фотография №1"
          id="image1"
          width="480"
          height="320"
          style="padding:{{pad1}}; border: 4px double black;"
        />
      </div>

      <!-- Сделать 2-ой снимок -->
      <div class="row pt-3 pb-4 d-flex justify-content-center" id="place2">
        <img
          src="/static/img/{{img2}}"
          alt="Фотография №2"
          id="image2"
          width="480"
          height="320"
          style="padding:{{pad2}}; border: 4px double black;"
        />
      </div>

      <div class="row py-2">
        <!-- Очистить фото -->
        <button
          type="button"
          class="btn btn-danger btn-lg btn-block p-3"
          id="clear-button"
        >
          <p class="h2">Очистить фото</p>
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
