{% extends "base.html" %}
{% block headerScript %}
	<link rel="stylesheet" href="../../static/css/camera.css">
	<link rel="stylesheet" href="../../static/css/preloader.css">
	<script src="../static/js/node_modules/jquery/dist/jquery.min.js"></script>
{% endblock %}

{% block content %}
	
	<div class=video-control>
		<table>	
			<tr><td><input type="button" onclick="startRecord()" value="Включить запись"/></td></tr>
			<tr><td><input type="button" onclick="finishRecord()" value="Отключить запись"/></td></tr>
			<tr><td><input type="button" onclick="makeVideo()" value="Смонтировать видео"/></td></tr>
			<tr><td><input type="button" onclick="watchVideo()" value="Смотреть видео"/></td></tr>
		</table>
	</div>
	
	<div id="image_place" width=500 height=500></div>

	<div id="preloader"></div>
	
	<script>
		function startRecord() {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/start_record", true);
			xhr.send();
			xhr.onreadystatechange = function() {
				if (xhr.readyState != 4) return;
				
				if (xhr.status == 200) {
					alert("Запись включена");
				} else if (xhr.status == 403) {
					alert("Запись уже идет");
				} else {
					alert(xhr.status + ': ' + xhr.statusText);
				}
			}
		}
		
		function finishRecord() {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", "/finish_record", true);
			xhr.send();
			xhr.onreadystatechange = function() {
				if (xhr.readyState != 4) return;

				if (xhr.status == 200) {
					alert("Запись закончена");
				} else if (xhr.status == 403) {
					alert("Запись не ведётся. Включите запись!");	
				} else {
					alert(xhr.status + ': ' + xhr.statusText);
				}
			}
		}

		function makeVideo() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/make_video', true);
			xhr.send();
			$("#preloader").fadeIn();
			xhr.onreadystatechange = function() {
				if (xhr.readyState != 4) return;

				if (xhr.status == 200) {
					alert("Подготовка видео завершена");
					$("#preloader").fadeOut(500);
				} else {
					alert(xhr.status + ': ' + xhr.statusText);
				}
			}
		}
		
		function watchVideo() {
			if (document.getElementById("image_place").childNodes.length == 0) {
				var img = new Image(500, 500);
				img.src = "../static/img/animation.gif";
				img.onload = function() {
				document.getElementById("image_place").appendChild(img);
				} 
			}

		}

	</script>
{% endblock %}

