{% extends "base.html" %}

{% block stylesSection %}
<link rel="stylesheet" href="../../static/css/camera.css">
<link rel="stylesheet" href="../../static/css/preloader.css">
<link rel="stylesheet" href="/static/css/confirm.css">
{% endblock %}

{% block scriptsSection %}
<script src="/static/js/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/confirm.js"></script>
<script>
    {% if recStatus %}
        $('#recButton').addClass("Rec");
    {% else %}
        $('#recButton').addClass("notRec");
    {% endif %}

	$('#recButton').click(function(){
		if($('#recButton').hasClass('notRec')){
			//$('#recButton').removeClass("notRec");
			//$('#recButton').addClass("Rec");
            //$('#recMess').html("Остановить запись");
			startRecord();
		}
		else {
			//$('#recButton').removeClass("Rec");
			//$('#recButton').addClass("notRec");
            //$('#recMess').html("Включить запись");
			finishRecord();
		}
	});

	function startRecord() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "/start_record", true);
		xhr.send();
		xhr.onreadystatechange = function() {
			if (xhr.readyState != 4) return;
			if (xhr.status == 200) {
				$("#recButton").removeClass("notRec");
                $("#recButton").addClass("Rec");
                $("#recMess").html("Остановить запись");
			} else if (xhr.status == 403) {
				Alert("Предупреждение!","Камера недоступна. Проверьте подключение камеры!");
			} else {
				alert(xhr.status + ': ' + xhr.statusText);
			}
		}
	}

	function finishRecord() {
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "/finish_record", true);
		xhr.send();
		xhr.onreadystatechange = function() {
			if (xhr.readyState != 4) return;
			if (xhr.status == 200) {
			    $("#recButton").removeClass("Rec");
                $("#recButton").addClass("notRec");
                $("#recMess").html("Включить запись");
			} else if (xhr.status == 403) {
				//addMsgToDiv("Запись не ведётся. Включите запись!");
			} else {
				alert(xhr.status + ': ' + xhr.statusText);
			}
		}
	}

	function makeVideo() {
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '/make_video', true);
		xhr.send();
		$("#preloader").fadeIn();
		xhr.onreadystatechange = function() {
			if (xhr.readyState != 4) return;

			if (xhr.status == 200) {
				watchVideo();
				$("#preloader").fadeOut();
				//addMsgToDiv("Подготовка видео завершена");
			} else if (xhr.status == 403) {
                $("#preloader").fadeOut('slow', function() {
                    Alert("Ошибка!", "Отсутствуют кадры для видео");
                });
			} else {
				alert(xhr.status + ': ' + xhr.statusText);
			}
		}
	}

	function watchVideo() {
        $('#image-place').empty();
		var video = document.createElement("video");
        var videoPath = "/static/img/timelapse.mp4?" + Math.random();
		video.setAttribute("src", videoPath);
		video.setAttribute("width", "480");
		video.setAttribute("height", "320")
		video.setAttribute("controls", "controls");
		document.getElementById("image-place").appendChild(video);
	}

</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

	        <div class="row py-4 d-flex justify-content-center">
                <p class="h2" id="recMess">{{recMess}}</p>
            </div>

	        <div class="row py-4 d-flex justify-content-center">
		        <button id="recButton"></button>
	        </div>

	        <div class="row py-4 d-flex justify-content-center" id=image-place>
            {% if videoExist %}
                <video width="480" height="320" controls="controls">
                    <source src="{{videoPath}}">
                </video>
            {% else %}
                <img src="/static/img/Video.png" alt="Видео" width="480" height="320" style="padding:10px 80px; border: 3px double black;">
            {% endif %}
	        </div>

            <div class="row py-4 d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg btn-block p-3" id="clear-button" onclick="makeVideo()">
                    <p class="h2">Смонтировать</p>
                </button>
            </div>

            <div class="row py-4 d-flex justify-content-center">
		        <div id="preloader"></div>
	        </div>

        </div>
    </div>
</div>
{% endblock %}
